*{

}

.heading{
    color: white;

}

.container{
    height: 200px;
    width: 500px;
    background-color: whitesmoke;
    margin-left: 450px;
    padding: 20px;


}

input{
    margin-top: 10px;
    padding: 10px;
}

Button{
    margin-top: 10px;
}

body{
    background-color: blue;
}